In [289]:
# Install the openpyxl package (used for working with Excel files in pandas)
! pip install openpyxl

Requirement already satisfied: openpyxl in d:\anaconda\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in d:\anaconda\lib\site-packages (from openpyxl) (1.1.0)

In [290]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [291]:
# Read the CSV file and store it in a DataFrame
df = pd.read_csv('netflix1.csv')

In [292]:
#Exploring the dataset
df

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...,...,...,...,...
8785,s8797,TV Show,Yunus Emre,Not Given,Turkey,1/17/2017,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas"
8786,s8798,TV Show,Zak Storm,Not Given,United States,9/13/2018,2016,TV-Y7,3 Seasons,Kids' TV
8787,s8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,12/15/2016,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
8788,s8784,TV Show,Yoko,Not Given,Pakistan,6/23/2018,2016,TV-Y,1 Season,Kids' TV
8789,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016,TV-Y7,1 Season,Kids' TV

In [293]:
#Checking data types of column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

In [294]:
# Convert date_added to date
df['date_added'] = pd.to_datetime(df['date_added'])

In [295]:
# Convert categorical columns to category type
# List of categorical columns
categorical_cols = ['type', 'rating', 'country']

# Convert selected columns to 'category' type
df[categorical_cols] = df[categorical_cols].astype('category')

In [296]:
# Get a summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   category
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   category
 5   date_added    8790 non-null   datetime64[ns]
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   category
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: category(3), datetime64[ns](1), int64(1), object(5)
memory usage: 510.1+ KB

In [297]:
# Check for duplicate values
df.duplicated().sum()

0

In [298]:
# Check for null values
df.isnull().sum()

show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [299]:
# Count the number of duplicate rows in the DataFrame
df.duplicated().sum()

0

In [300]:
#Checking for Inconsistencies in the 'duration' column
#Identifying incorrect duration values
df[['type','duration']].value_counts()

type     duration
TV Show  1 Season     1791
         2 Seasons     421
         3 Seasons     198
Movie    90 min        152
         97 min        146
                      ...
         205 min         1
         203 min         1
         201 min         1
         9 min           1
         10 min          1
Name: count, Length: 220, dtype: int64

In [301]:
# Filter the dataFrame to get rows where 'type' is 'TV Show' and 'duration' contains 'min'
# Filter the DataFrame to get rows where 'type' is 'Movie' and 'duration' contains 'season'
df[(df["type"] == "TV Show") & (df["duration"].str.contains("min"))]
df[(df["type"] == "Movie") & (df["duration"].str.contains("season"))]

Empty DataFrame
Columns: [show_id, type, title, director, country, date_added, release_year, rating, duration, listed_in]
Index: []

In [302]:
# Extract movie duration in minutes and store it in 'movie_duration', filling missing values with 0 and converting to int
# Extract the number of seasons for TV shows and store it in 'num_seasons', filling missing values with 0 and converting to int
# Drop the 'duration' column as it's no longer needed
df['movie_duration'] = df['duration'].str.extract(r'(\d+) min').fillna(0).astype(int)
df['num_seasons'] = df['duration'].str.extract(r'(\d+) Season').fillna(0).astype(int)
df.drop(columns=['duration'], inplace=True)

In [303]:
#Replace missing director values with unkown instead of not given
df['director'] = df['director'].replace('Not Given', 'Unknown')

In [304]:
# Extract the first word from the 'listed_in' column for better classification
df['main_genre'] = df['listed_in'].str.split(',').str[0]
df.drop(columns=['listed_in'], inplace=True)

In [272]:
# Save the cleaned DataFrame to a new CSV file without including the index
df.to_csv('netflix_cleaned.csv', index=False)